# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle/
android/local.properties
android/key.properties
*.keystore
*.jks

# IDE
.idea/
.vscode/*
!.vscode/extensions.json
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log
